<div class="white_cart">
  <!-- <div class="col-md-6"> -->
  <%= link_to announce_path(announce) do %>




        <%= image_tag(announce.picture1.url(:medium), alt: "Flat Picture") %>

    <% end %>
  <!-- </div> -->
  <!-- <div class="col-md-6"> -->
    <p class="category-property"><%= announce.property.name %></p>
    <p class="locality"><%= announce.locality %></p>
    <h3 class="title"><%= announce.title.capitalize.truncate(30) %></h3>
    <p class="description"><%= announce.description.truncate(90) %></p>
    <%= link_to "En savoir plus", announce_path(announce), class: "btn btn-black" %>
  <!-- </div> -->
</div>