<div class="padded">
<h4 class="text-center">Nous avons trouvé <%= @announces.select { |f| f.pictures.exists? }.count %> propriété(s) à vendre correspondant à votre recherche</h4>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
    <div class="list-group">

      <% if @announces.exists? %>

          <% @announces.select { |f| f.pictures.exists? }.each do |t| %>
            <%= render "shared/cart", announce: t %>
          <% end %>


      <% else %>
        <p class="text-center">Nous n'avons trouvé aucune annonce correspondant à vos critères, mais une modification de ville pourrait donner de nouveaux résultats.</p>
        <%= form_tag announces_path, method: :get, class: 'form-inline' do %>
          <div class="form-group pb-40 pt-20">
            <div class="col-md-8 col-xs-6 col-xs-offset-1">
            <input type="text" class="form-control" id="cityfield" name="locality" placeholder="Où recherchez-vous ?">
            </div>
            <div class="col-md-2 col-xs-2 col-xs-offset-1">
            <button type="submit" class="btn btn-success">On y va !</button>
            </div>
          </div>
        <% end %>
        <% unless  current_user %>
        <div class="clear"> </div>
          <p class="text-center">Vous pouvez egalement <%= link_to "créer votre compte", new_user_registration_path %> afin d'être averti dès qu'un bien sera mis en vente dans la ville que vous recherchez.</p>
          <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
            <%= link_to "Créer votre compte", new_user_registration_path, class: "btn btn-success white" %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
  </div>
</div>

</div>