<div class="padded">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% pictures = [] %>

        <% if @announce.picture1.exists? &&   @announce.picture2.exists? && @announce.picture3.exists? &&  @announce.picture4.exists? %>
          <% pictures << @announce.picture1 << @announce.picture2 << @announce.picture3 << @announce.picture4 %>
        <% else @announce.picture1.exists? %>
          <div class="col-md-4 col-md-offset-4 col-lg-4 col-md-offset-4">
            <%= image_tag @announce.picture1.url(:medium) %>
          </div>


        <% end %>
        <% if pictures.count >= 3 %>
          <div class="owl-carousel center-block">
            <% pictures.each do |pic| %>
              <div> <%= image_tag pic.url(:medium) %> </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6">
        <p class="titre"><%= @announce.title.capitalize %></p>
        <p class="locality"><%= @announce.locality %></p>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
  <div class="clear"></div>

  <div class="announce-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3 hidden-xs col-sm-5 mb-20">

          <iframe width="200" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps/ms?ie=UTF8&amp;msa=0&amp;msid=101686375028251599401.0004484f73bea6145ef6b&amp;ll=<%=@announce.latitude%>,<%=@announce.longitude%>&amp;spn=0,0&amp;output=embed&amp;s=AARTsJqhzeyiqiLGEqDCDC7ar_q7Q1nmAw"></iframe>

        </div>
        <div class="col-md-4 col-lg-4">
          <p class="locality hidden-sm"><%=@announce.property.name%> - <%=@announce.bed%> chambre(s) - <%= @announce.bath%> salle(s) de bains</p>


          <p class="detail-description hidden-sm"><%=@announce.description %></p>
        </div>
        <div class="col-md-2 col-md-offset-1 col-lg-2 col-md-offset-1 col-sm-offset-1 col-sm-4 col-md-offset-1 col-xs-offset-1 col-xs-4">
          <div class="detail-announce-box">
            <div class="row">

              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-5">
                <p class="price"><%= @announce.price %> €</p>
                <p class="locality"><%= @announce.surface%>m&#178;</p>
              </div>
              <div class="col-xs-2"></div>
              <div class="col-md-6 col-lg-6 col-xs-5">
               <p class="type_announce">a vendre</p>
              </div>

            </div>
            <div class="row">
            <div class="col-xs-3"></div>
              <div class="col-md-8 col-md-offset-2 col-lg-6 col-sm-8 col-sm-offset-2 ">
                <button type="button" class="btn btn-black btn-lg" data-toggle="modal" data-target="#myModal">
                  En savoir plus
                </button>
              </div>
              <div class="col-xs-3"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="hidden-xs hidden-md hidden-lg col-sm-12">
            <p class="deatil-description"><%=@announce.description %></p>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>








  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="announce-tab">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="dashboard_products" role="tablist">
              <li role="presentation" class="active"><a href="#description" aria-controls="home" role="tab" data-toggle="tab"><h5> Description</h5></a></li>
              <% if @announce.class_energy.present? %>
                <li role="presentation"><a href="#dpe" aria-controls="profile" role="tab" data-toggle="tab"><h5> Diagnostic Energie</h5></a></li>
              <% end %>
              <li role="presentation"><a href="#fiche" aria-controls="home" role="tab" data-toggle="tab"><h5> Fiche technique</h5></a></li>
            </ul>
          </div>
          <!-- Tab panes -->
          <div class="tab-content mt-20">
            <div role="tabpanel" class="tab-pane active" id="description">
              <%=  @announce.description %>
            </div>
            <div role="tabpanel" class="tab-pane" id="dpe">
              <div class="col-md-6 col-md-offset-3">
                <% if @announce.class_energy == "A" %>
                  <div class="fleche fleche_a_active"> A </div> <span class="ok">OK</span><br>
                <% else %>
                  <div class="fleche fleche_a"> A </div><br>
                <% end %>
                <% if @announce.class_energy == "B" %>
                  <div class="fleche fleche_b_active"> B </div><span class="ok">OK</span><br>
                <% else %>
                  <div class="fleche fleche_b"> B </div></br>
                <% end %>
                <% if @announce.class_energy == "C" %>
                  <div class="fleche fleche_c_active"> C </div><span class="ok">OK</span><br>
                <% else %>
                  <div class="fleche fleche_c"> C </div><br>
                <% end %>
                <% if @announce.class_energy == "D" %>
                  <div class="fleche fleche_d_active"> D </div><span class="ok">OK</span><br>
                <% else %>
                  <div class="fleche fleche_d"> D </div><br>
                <% end %>
                <% if @announce.class_energy == "E" %>
                  <div class="fleche fleche_e_active"> E </div><span class="ok">OK</span><br>
                <% else %>
                  <div class="fleche fleche_e"> E </div><br>
                <% end %>
                <% if @announce.class_energy == "F" %>
                  <div class="fleche fleche_f_active"> F </div><span class="ok">OK</span><br>
                <% else %>
                  <div class="fleche fleche_f"> F </div><br>
                <% end %>
                <% if @announce.class_energy == "G" %>
                  <div class="fleche fleche_g_active"> G </div><span class="ok">OK</span><br>
                <% else %>
                  <div class="fleche fleche_g"> G </div><br>
                <% end %>
                <% if @announce.class_energy == "" %>
                 <h5> Il n'y a pas de DPE pour le moment</h5>
                <% end %>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="fiche">
              <div class="table-responsive space-bottom-30 space-top-30">
                <table class="table table-striped">
                  <tbody>
                    <h5> Informations Générales </h5>
                    <tr>
                      <td> <p> Type de Bien </p></td>
                      <td> <%= @announce.property.name %></td>
                    </tr>
                    <tr>
                      <td> <p> Ville </p></td>
                      <td> <%= @announce.locality %></td>
                    </tr>
                    <tr>
                      <td> <p> Surface </p></td>
                      <td> <%= @announce.surface %>m&#178;</td>
                    </tr>
                    <tr>
                      <td> <p> Prix </p></td>
                      <td> <%= @announce.price %> €</td>
                    </tr>
                    <% if @announce.transports.present? %>
                      <tr>
                        <td> <p> transports à proximité </p></td>
                        <td> <%= @announce.transports %> €</td>
                      </tr>
                    <% end %>
                    <% if @announce.view.present? %>
                      <tr>
                        <td> <p> Vue </p></td>
                        <td> <%= @announce.view %> €</td>
                      </tr>
                    <% end %>
                    <% if @announce.exposition.present? %>
                      <tr>
                        <td> <p> Exposition </p></td>
                        <td> <%= @announce.exposition %> €</td>
                      </tr>
                    <% end %>
                    <% if @announce.floor.present? %>
                      <tr>
                        <td> <p> Etage </p></td>
                        <td> <%= @announce.floor %> €</td>
                      </tr>
                    <% end %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>

      <div class="separation">
      </div>

  <div class="similar_announces">
    <div class="container">

      <% if @similar_announces.count > 1 %>
        <h5 class="similar_announce mb-30"> Voici des annonces similaires qui peuvent vous interesser ... </h5>
        <div class="row">
          <!-- <div class="col-md-4"> -->

            <% @similar_announces.each do |t| %>
              <div class="col-md-4">
              <%= render "shared/cart2", announce: t %>
              </div>
            <% end %>


        </div>
      <% end %>
    </div>
  </div>




</div>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var coord = <%= raw @announce_coordinates %>;
        alert('Announce coordinates are ' + coord.lat + ', ' + coord.lng);
      });
    <% end %>
  <% end %>


