<!DOCTYPE html>
<html class='<%= (params[:controller] + "_" + params[:action]).gsub('/', '_') %>_html'>
<head>
  <title><%= yield(:title) || "Wagon Rails" %></title>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

  <%= yield %>

  <%= javascript_include_tag
        "https://maps.google.com/maps/api/js?sensor=false&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

  <!-- Include Google Maps JS API -->

  <%= javascript_include_tag :application %>
  <%= yield(:after_js) %>

</body>
</html>

<!-- ###### LOG IN MODAL #####-->

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header"><h2 class="text-center">Connexion</h2>
          </div>
          <div class="modal-body">

            <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <%= f.label :email, "Adresse email:", :class=>'' %>
              <%= f.text_field :email, :class =>"form-control", :style => "margin-bottom:25px" %>
              <%= f.label :password, "Mot de passe:", :class=>'' %>
              <%= f.password_field :password,:label =>"Mot de passe", :class =>"form-control", :style => "margin-bottom:25px" %>
              <%= f.submit 'Connexion', :class =>"form-control" %>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
              <%= link_to "Mot de passe oublié ?", new_password_path(:user) %>
            <% end %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
      </div>
    </div>
</div>
<!-- ##### SIGN UP MODAL ###### -->

 <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header"><h2 class="text-center">Inscription</h2>
          </div>
          <div class="modal-body">
            <%= form_for :user, url: user_registration_path do |f| %>

              <%= f.label :email, "Adresse email:", :class=>'' %>
              <%= f.text_field :email, :class =>"form-control", :style => "margin-bottom:25px" %>
              <%= f.label :password, "Mot de passe:", :class=>'' %>
              <%= f.password_field :password,:label =>"Mot de passe", :class =>"form-control", :style => "margin-bottom:25px" %>
              <%= f.submit 'Inscription', :class =>"form-control" %>
            <% end %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
</div>
